/* @import url(//db.onlinewebfonts.com/c/adfd298e421945768d7bf13da3ee8a45?family=BankGothic+Md+BT); */
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Montserrat&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

@font-face {
  font-family: "BankGothic";
  src: url("./fonts/BankGothic\ Regular.ttf");
}

@font-face {
  font-family: "Euclid";
  src: url("./fonts/EuclidSquare-Regular.ttf");
}

@font-face {
  font-family: "wonder garden script";
  src: url("./fonts/WonderGardenScript-Regular.ttf");
}

* {
  font-family: "Euclid";
}

html,
body {
  scroll-behavior: smooth;
}

@layer base {

  

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000000ab;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


}

@layer components {
  .label {
    @apply text-primary font-medium md:text-white md:text-right md:w-1/5;
  }

  .input {
    @apply w-full border-2 border-primaryHover focus:border-primary font-primary font-normal  text-sm outline-none text-black py-1 px-3 leading-8 transition-colors duration-700 ease-in-out;
  }

  .li {
    @apply list-none text-2xl py-2;
  }

  .primaryFont{
    @apply font-family
  }
}

input::placeholder {
  font-weight: 500 !important;
}

textarea::placeholder {
  font-weight: 500 !important;
}


@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out;
}


.slider{
  display: grid;
  gap: 2rem;
  grid-auto-flow:column;
  grid-auto-columns: 23%;

  padding-bottom: 2rem;

  overflow-x: auto;
  overscroll-behavior-inline: contain ;
}

.snaps-inline{
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
}