@import url(//db.onlinewebfonts.com/c/adfd298e421945768d7bf13da3ee8a45?family=BankGothic+Md+BT);
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "BankGothic Md BT";
}

@layer components {
  .label {
    @apply text-primary font-medium md:text-white md:text-right md:w-1/5;
  }

  .input {
    @apply w-full border-b border-white focus:border-primary bg-secondary font-normal text-base outline-none text-white py-1 md:px-1 leading-8 transition-colors duration-200 ease-in-out;
  }

  .li{
    @apply list-none text-2xl py-2
  }
}


input::placeholder {
    font-weight: 500 !important;
}

textarea::placeholder {
    font-weight: 500 !important;
}